{{ env.Getenv "USER" }} ALL=(root) NOPASSWD: {{ env.Getenv "HOME" }}/projects/configs/ci/zsh/scripts/delete-broken-links *
{{ env.Getenv "USER" }} ALL=(root) NOPASSWD: {{ env.Getenv "HOME" }}/projects/configs/ci/zsh/scripts/mk-dirs *
{{ env.Getenv "USER" }} ALL=(root) NOPASSWD: {{ env.Getenv "HOME" }}/projects/configs/ci/zsh/scripts/upsert-configs *
